<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.logistics.myBatis.model.Company" alias="Company"/>
        <typeAlias type="com.example.logistics.myBatis.model.Driver" alias="Driver"/>
        <typeAlias type="com.example.logistics.myBatis.model.Truck" alias="Truck"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="LogisticsDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="myBatis/xml/CompanyMapper.xml"/>
        <mapper resource="myBatis/xml/DriverMapper.xml"/>
        <mapper resource="myBatis/xml/TruckMapper.xml"/>
    </mappers>
</configuration>
